[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
typer = {extras = ["all"], version = "*"}
rich = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
